/* ========= GLOBAL =========*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/* ========= SCROLL BAR =========*/

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.994);
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(36, 172, 24, 0.796); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #179130; 
  }


/*------------------------------------------------------------
                    NAVIGATION BAR 
------------------------------------------------------------*/

/*========= GEBERAL OPTIONS =========*/

.topnav{
    margin: 0;
    padding: 0;
    background-color: rgba(14, 13, 13, 0.953);
    box-shadow: 0 12px 16px 10px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    position: fixed;
    top: 0;
    height: 100%;
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    transition: 0.4s;
}

.topnav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    padding: 14px 16px;
    display: block;
    float: left;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.topnav a:hover{
    transition: 0.4s;
    background-color: rgba(45, 191, 50, 0.8);
    color: white;
    box-shadow: 0 12px 16px 10px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 100%;    
}

.topnav a.active{
    background-color: rgba(45, 191, 50, 0.8);
    color: white;
    width: 100%;
    box-shadow: 0 12px 16px 10px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*=============== My Image ==============*/

.navbar-img{
    margin-top: 40px;
    margin-left: 13px;
    width: 125px;
    height: 125px;
    border-radius: 5px;
}

/*=============== LOGO ==============*/
.logo {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    float: left;
    border: 1px solid #F2E5D7;
    padding: 4px 10px;
    font-size: 20px;
    cursor: pointer;
}


/*============ STICKY SOCIAL BAR ===========*/

.icon-bar {
    position: fixed;
    top: 30%;
    right: 0%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 3px;
    
  }

  .icon-bar a:hover {
    background-color: rgba(0, 0, 0, 0.309);
  }
  
  .github {
    background: #000000;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .instagram {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .reddit {
    background: #bb0000;
    color: white;
  }
  

/*============ PROGRESS BAR ===========*/
.progress-container{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10px;
    background-color: rgba(14, 13, 13, 0.967);
}

.progress-bar{
    height: 10px;
    background: linear-gradient(rgba(45, 191, 50, 0.8),rgba(10, 135, 24, 0.8));
    width: 0%;
}

/*------------------------------------------------------------
                           HEADER 
------------------------------------------------------------*/

.header{
    background: linear-gradient(rgb(0,0,0,0.8),rgba(97, 90, 90, 0.8)),
    url("./Images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    height: 100vh;
    color: white;
    font-size: 80px;
    text-align: center;
    padding: 20px;
}

.header h1{
    margin-left: 40px;
    margin-top: 13%;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'montserrat', sans-serif;
}

.header img{
    position: absolute;
    bottom: 10px;
    animation: updown 1s ease infinite alternate;
}

/*==============adding transition==========*/
/*header{
    opacity: 0;
    transition: opacity .5 .25s ease-out;
}

header.is-visible{
    opacity: 1;
}

.header{
    transform: scale(.8);
}

.heading{
     translate: (-50%, calc(-50% + 1em));
}

.is-visible .heading{
    transform: translate(-50%, -50%);
}

.heading{
    transition: transform 4s .35s cubic-bezier(0,1,.3,1);
    will-change: transform;
}
*/


/*------------------------------------------------------------
                           GENERAL 
------------------------------------------------------------*/

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 33%;
}

.column2{
    padding: 10%;
    float: left;
    width: 50%;
}

.column3{
    float: left;
    width: 50%;
}

/*------------------------------------------------------------
                           HEADER 2
------------------------------------------------------------*/

.head_2{
    background: linear-gradient(rgb(0,0,0,0.8),rgba(58, 56, 56, 0.8)),
    url("./Images/header2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh; 
  
}

.head_2 h2{
    position: absolute;
    right: 0%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    color: rgba(10, 135, 24, 0.8);
    padding: 200px;
    text-transform: uppercase;
}


/*------------------------------------------------------------
                           HEADER 3
------------------------------------------------------------*/

.head_3{
    background: linear-gradient(rgb(0,0,0,0.8),rgba(58, 56, 56, 0.8)),
    url("./Images/header3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh; 
  
}

.head_3 h2{
    position: absolute;
    right: 0%;
    font-size: 30px;
    letter-spacing: 10px;
    color: rgba(38, 150, 51, 0.8);
    padding: 200px;
    text-transform: uppercase;
}

/*------------------------------------------------------------
                           HEADER 4 
------------------------------------------------------------*/

.head_4{
    background: linear-gradient(rgb(0,0,0,0.8),rgba(58, 56, 56, 0.8)),
    url("./Images/header4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh; 

  
}

.head_4 h2{
    position: absolute;  
    right: 0%; 
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    color: rgba(38, 150, 51, 0.8);
    padding: 200px;
    text-transform: uppercase;
}

/*------------------------------------------------------------
                           HEADER 5
------------------------------------------------------------*/

.head_5{
    background: linear-gradient(rgb(0,0,0,0.8),rgba(58, 56, 56, 0.8)),
    url("./Images/header5.jfif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 60vh; 

  
}

.head_5 h2{
    position: absolute;  
    right: 0%; 
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    color: rgba(38, 150, 51, 0.8);
    padding: 200px;
    text-transform: uppercase;
}

/*------------------------------------------------------------
                           BIO SECTION 
------------------------------------------------------------*/

.bio{
    padding: 10%;
    
    background: url(./Images/background.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    height: 110vh;
    font-size: 60px;
    text-align: center;

}

.bio h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    margin: 10px;
    text-align: center;
    letter-spacing: 2px;
    color: rgba(10, 135, 24, 0.8);
}

.bio p{
    font-size: 23px;
    margin: 30px;
    text-align: justify;
}

.bio img{
    width: 75%;
    height: 400px;
    border-radius: 50%;
   
    margin-left: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.364), 0 6px 20px 0 rgba(0, 0, 0, 0.282);

    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity 1.5s .25s ease-out;
    will-change: transform, opacity;
}

.bio img.is-visible{
    opacity: 1;
    transform: translateX(55px);
}

  /*------------------------------------------------------------
                           SKILLS SECTION 
---------------------------------------------------------------*/ 

.skills-page{
    padding: 5%;
    background: url(./Images/background.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    height: 110vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills-page h2{
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    
    margin-left: 150px;
}

.skill-name{
    margin-left: 40px;
    margin-top: 10%;
    color: rgba(10, 135, 24, 0.8);
    opacity: 1;
}

.container {
    height: 15px;
    margin-top: 5px;
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
    color: white;
    margin-left: 40px;
    text-align: right;
    font-size: 10px;
    margin-bottom: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: .5s ease;
    opacity: .7;
}

.container:hover {
    opacity: 1;
    width: 150%;
    margin-left: 0px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.207);
}


.progress-label{
    position: relative;
    top: -22px; 
    right: -32px;
    font-size: 15px;
}

.skills{
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html{
    height: 15px;
    width: 80%;
    color: rgb(228, 39, 39);
    background-color: rgb(228, 39, 39);
    border-radius: 20px;
}
.git{
    height: 15px;
    width: 30%;
    color: rgb(51, 155, 38);
    background-color: rgb(51, 155, 38);
    border-radius: 20px;
}
.word{
    height: 15px;
    width: 75%;
    color: rgb(150, 177, 32);
    background-color: rgb(150, 177, 32);
    border-radius: 20px;
}
.ts{
    height: 15px;
    width: 70%;
    color: rgb(24, 192, 197);
    background-color: rgb(24, 192, 197);
    border-radius: 20px;
}
.bjs{
    height: 15px;
    width: 40%;
    color: rgb(209, 138, 30);
    background-color: rgb(209, 138, 30);
    border-radius: 20px;
}
.cpp{
    height: 15px;
    width: 50%;
    color: rgb(75, 58, 228);
    background-color: rgb(75, 58, 228);
    border-radius: 20px;
}
.docs{
    height: 15px;
    width: 40%;
    color: rgb(213, 53, 83);
    background-color: rgb(213, 53, 83);
    border-radius: 20px;
}
.flutter{
    height: 15px;
    width: 10%;
    color: rgb(148, 18, 18);
    background-color: rgb(148, 18, 18);
    border-radius: 20px;
}



/*------------------------------------------------------------
                           EDUCATION SECTION 
------------------------------------------------------------*/ 

.education{
    padding: 10%;
    background: url(./Images/background.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    height: 110vh;
}

.education h2{
    text-align: center;
    font-size: 25px;
    letter-spacing: 10px;
    color: rgba(10, 135, 24, 0.8);
}

#quote{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    margin-left: 7%;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: left;
}

/*============ FLIP CARDS ===========*/

.flip-card {
    margin-top: 15%;
    margin-left: 95px;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    cursor: pointer;
    
}
  
  .flip-card-inner {
    
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.528);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {  
    background-color: #4CAF50;    
    /*background: url(./Images/cardbg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }
  
  .flip-card-back {
    background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
  }

  .flip-card-front h1{
      margin-top: 13%;
  }

  .flip-card-front p{
      margin-top: 6.5%;
  }


/*------------------------------------------------------------
                        PROJECTS SECTION
------------------------------------------------------------*/

.projects{
    background: url("./Images/background.jfif");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    
    height: 320vh;
    padding-left: 20%;
    padding-top: 5%;
}

.container-projects{
    position: relative;
    width: 600px;
    cursor: pointer;
}

.projects-image{
    opacity: 1;
    display: block;
    width: 600px;
    height: 300px;
    margin-top: 70px;

    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.528);
}

.myworksp{
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-projects:hover .projects-image {
    opacity: 0.3;
}

.container-projects:hover .middle {
    opacity: 1;
}

.projects-text{
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}






/*------------------------------------------------------------
                        CONTACT ME SECTION
------------------------------------------------------------*/

.contact{
    background: url(./Images/background.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    padding: 4%;
    margin: 0%;
    text-align: center;
}



.container-contact h1, .container-contact p{
    color: #4ca540;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 60px;
}

input[type=text] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.22);
    
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    background: #4CAF50;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    width: 300px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.528);
}

form .submit:hover{
    transition: .4s ease;
    background-color: #40bb44;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form .cancel{
    background: #f44336;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    text-align: center;  
    width: 300px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.528);
}

form .cancel:hover{
    transition: .4s ease;
    background-color: #d34949;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@keyframes updown {
    from{
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
    }
}
